body {
  background-color: #141519;

  font-family: "Overpass", sans-serif;
}
.hidden {
  display: none;
}

#box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 340px;
  background: linear-gradient(hsl(213, 19%, 18%), #171e28);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  gap: 20px;
  padding: 50px;
}
#select {
  padding: 5px 10px;
  border-radius: 50px;
  border: none;
  background-color: #262e36;
  color: #c45e23;
  font-size: 13px;
}
#thank {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
#text {
  font-size: 15px;
  color: hsl(217, 12%, 63%);
  line-height: 25px;
  text-align: center;
}

@media (max-width: 375px) {
  body {
    background-color: #141519;

    font-family: "Overpass", sans-serif;
  }
  .hidden {
    display: none;
  }

  #box {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 280px;
    background: linear-gradient(hsl(213, 19%, 18%), #171e28);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    gap: 20px;
  }
  #select {
    padding: 5px 10px;
    border-radius: 50px;
    border: none;
    background-color: #262e36;
    color: #c45e23;
    font-size: 13px;
  }
  #thank {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  #text {
    font-size: 13px;
    color: hsl(217, 12%, 63%);
    line-height: 25px;
    text-align: center;
  }
}
